<div class="row">
    <div class="col-xs-8" id="network-container">
        <div id="network-chart"></div>
    </div>
    <div class="col-xs-4" id="network-data">
        <div id="summary">
            <h2>{{t "simulation.network.simulation.simulation"}}</h2>
            <table class="table">
                <tr>
                    <th>{{t "simulation.network.simulation.days"}}:</th>
                    <td id="days"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.network.simulation.miners"}}:</th>
                    <td id="miners"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.network.simulation.links"}}:</th>
                    <td id="links"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.network.simulation.blocks"}}:</th>
                    <td id="total-blocks"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.network.simulation.events"}}:</th>
                    <td id="events"></td>
                </tr>
            </table>
        </div>
        <div id="miner-info">
            <h2>Miner <span id="miner-id"></span></h2>
            <table class="table">
                <tr>
                    <th>{{t "simulation.network.miner.blocks-mined"}}:</th>
                    <td id="blocks-mined"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.network.miner.hashrate"}}:</th>
                    <td id="hash-rate"></td>
                </tr>
                <tr>
                    <th>{{t "simulation.network.miner.links"}}:</th>
                    <td id="miner-links"></td>
                </tr>
            </table>
        </div>
    </div>
</div>