<div class="row">
    <div class="col-sm-offset-2 col-sm-8">
        <div class="jumbotron">
            <div id="configuration">
                <h1>
                    {{t "configuration.title"}}
                </h1>

                <p class="lead">{{t "configuration.desc"}}</p>

                <form class="form">
                    <p>{{t "configuration.mode"}}</p>
                    <select class="select-block" id="simulation-type">
                        <option value="standard">{{t "configuration.modes.standard"}}</option>
                        <option value="fifty-one">{{t "configuration.modes.51"}}</option>
                        <option value="1">{{t "configuration.modes.selfish"}}</option>
                    </select>

                    <p>{{t "configuration.miners"}}: <span id="miners-number-hint"></span></p>

                    <div id="miners-number" class="ui-slider"></div>
                    <p>{{t "configuration.days"}}: <span id="days-number-hint"></span></p>

                    <div id="days-number" class="ui-slider"></div>
                    <p><a class="btn btn-lg btn-primary" id="start-simulation" href="simulation">{{t "configuration.start"}}</span></a></p>
                </form>
            </div>
            <div id="in-progress">
                <div class="svg-container">
                    <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                   viewBox="0 0 400 400" enable-background="new 0 0 400 400" xml:space="preserve">
                <circle fill="#1abc9c" cx="200" cy="200" r="139"/>
                <path class="atom-1" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" d="M231.7,200c0,17.4-1.7,88-31.7,88
                  s-31.7-70.6-31.7-88s1.7-88,31.7-88S231.7,182.6,231.7,200z"/>
                  <circle class="circle-1" fill="#F04F4D" cx="0" cy="0" r="7.3"/>
                <path class="atom-2" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" d="M216.1,227.7c-15,8.9-76.6,43.4-91.9,17.6
                  s44.6-63.2,59.6-72.1s76.6-43.4,91.9-17.6S231.1,218.8,216.1,227.7z"/>
                  <circle class="circle-2" fill="#F04F4D" cx="0" cy="0" r="7.3"/>
                <path class="atom-3" fill="none" stroke="#FFFFFF" stroke-width="8" stroke-miterlimit="10" d="M183.9,227.7c15,8.9,76.6,43.4,91.9,17.6
                  s-44.6-63.2-59.6-72.1s-76.6-43.4-91.9-17.6S168.9,218.8,183.9,227.7z"/>
                <circle class="circle-3" fill="#F04F4D" cx="0" cy="0" r="7.3"/>
                <circle fill="#1A4C59" cx="200" cy="202.5" r="16"/>
                </svg>
                <span><b>{{t "configuration.progress"}}</b> - <small><span id="elapsed-time">0</span> {{t "configuration.time"}}</small></span>
                </div>
            </div>
        </div>
    </div>
</div>