<div id="explorer-title" class="">
    <h2 class="col-xs-8">Block chain
    </h2>
    <div class="col-xs-4" style="vertical-align: middle">
        <input class="form-control" type="text" id="block-search" placeholder="{{t "simulation.explorer.search"}}"/>
    </div>
</div>
<table class="table table-hover table-bordered table-header">
    <thead>
        <tr>
            <th>{{t "simulation.explorer.block.hash"}}</th>
            <th>{{t "simulation.explorer.block.height"}}</th>
            <th>{{t "simulation.explorer.block.miner"}}</th>
            <th>{{t "simulation.explorer.block.size"}}</th>
            <th>{{t "simulation.explorer.block.time"}}</th>
        </tr>
    </thead>
</table>
<table class="table table-hover explorer">
    <tbody id="blocks-container"></tbody>
</table>
<div class="controls" id="explorer-controls">
    <a class="btn btn-primary" id="next-chain-page">{{t "simulation.explorer.next"}}</a>
</div>